<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anniu.shandiandaojia"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.1.1">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 极光推送权限 -->
    <permission
        android:name="com.anniu.shandiandaojia.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.anniu.shandiandaojia.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- sharedsdk -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uvIk1qqQGfy5bfQGZUl3u81W" />

        <!-- 欢迎页 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".activity.GuaidActivity"
            android:screenOrientation="portrait" />
        <!-- 注册登录页面 -->
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name=".activity.UserCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 定位页面 -->
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <!-- 修改位置 -->
        <activity
            android:name=".activity.ModifyLocationActivity"
            android:screenOrientation="portrait" />
        <!-- 附近便利店 -->
        <activity
            android:name=".activity.FamliyMartActivity"
            android:screenOrientation="portrait" />
        <!-- 我的订单 -->
        <activity
            android:name=".activity.MyOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaterTicketActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 我的地址 -->
        <activity
            android:name=".activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <!-- 消息中心 -->
        <activity
            android:name=".activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 意见反馈 -->
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!-- 常见问题 -->
        <activity
            android:name=".activity.FAQActivity"
            android:screenOrientation="portrait" />
        <!-- 我的代金券 -->
        <activity
            android:name=".activity.CouponsActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 商品分类 -->
        <activity
            android:name=".activity.GoodsCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <!-- 商品详情页面 -->
        <activity
            android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 修改地址页面 -->
        <activity
            android:name=".activity.ModifyAddress"
            android:screenOrientation="portrait" />
        <!-- 新增地址页面 -->
        <activity
            android:name=".activity.AddAddress"
            android:screenOrientation="portrait" />
        <!-- 购物车页面 -->
        <activity
            android:name=".activity.ShoppingCartActivity"
            android:screenOrientation="portrait" />
        <!-- 订单详情 -->
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 结算跳确认订单页面 -->
        <activity
            android:name=".activity.BalanceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- wx sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".wxapi.PayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxc6f3193ffe631ba0" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.anniu.shandiandaojia.receiver.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- wx sdk end -->


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- alipay sdk end -->


        <!-- 购买水票 -->
        <!-- 关于我们 -->
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <!-- 投诉商铺界面 -->
        <activity
            android:name=".activity.ComplaintActivity"
            android:screenOrientation="portrait" />
        <!-- 选择时间 -->
        <activity
            android:name="com.anniu.shandiandaojia.view.lee.wheel.WheelViewTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <!-- 购买水票界面 -->
        <activity
            android:name=".activity.BuyWaterTicket"
            android:screenOrientation="portrait" />
        <!-- 一键送水界面 -->
        <activity
            android:name=".activity.AKeyWaterActivity"
            android:screenOrientation="portrait" />
        <!-- 水票详情 -->
        <activity
            android:name=".activity.WaterTicketDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 订单备注 -->
        <activity
            android:name=".activity.RemarkActivity"
            android:screenOrientation="portrait" />
        <!-- 活动页面 -->
        <activity
            android:name=".activity.EventsActivity"
            android:screenOrientation="portrait" />

        <!-- 授权操作 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微信分享回调 -->
        <activity
            android:name="com.sharesdk.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.anniu.shandiandaojia.service.HttpService" />
        <service android:name="com.anniu.shandiandaojia.task.AppUpgradeService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.anniu.shandiandaojia" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="com.anniu.shandiandaojia" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.anniu.shandiandaojia" />
            </intent-filter>
        </activity>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->

        <!-- jpush -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3781927684c7ad6700b4fa9a" />

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55b89bdae0f55adeeb002781" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>

</manifest>